.browser-info {
    position: absolute;
    top: 15px;
    right: 10px;
    float: right;
}

.html5-logo {
    position: absolute;
    top: 15px;
    right: 10px;
    float: right;
}

.html5-timeline {
    position: absolute;
    top: 15px;
    right: 10px;
    float: right;
    font-weight: bold;
    color: blue;
    font-size: 3em;
}


.browser-list {
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    left: -5px;
}

.browser-list li {
    display: inline;
    float: left;
    list-style-type: none;
    text-align: center;
    width: 40px;
}

.html5-level {
    width: 100%;
    margin-top: 35px;
    font-size: 2em;
}

.html5-spec {
    width: 100%;
    margin-top: 5px;
}

.warn {
    font-weight: bold;
    color: red;
}

.partial {
    font-weight: bold;
    color: grey;
}
