/*
.browser-table {
    width: 60%;
    text-align: center;
    vertical-align: middle;
}
*/

.browser-info {
    position: absolute;
    top: 15px;
    right: 10px;
    float: right;
}

.browser-list {
    margin: 0px;
    padding: 0px;
    margin-left: 6px;
}

.browser-list li {
    display: inline;
    float: left;
    list-style-type: none;
    width: 40px;
}

.html5-level {
    width: 100%;
    margin-top: 35px;
    font-size: 2em;
}

.html5-spec {
    width: 100%;
    margin-top: 5px;
}
